[alias]
	ss=status
	dd=diff
	aa=add -A
	lg=log
	cm=commit -m
	cma=commit -am
	rb=rebase
	rh=reset --hard
	ch=checkout
	cb=checkout -b
	bb=branch
	del=branch -d
	ps=push
	pl=pull
	st=stash
	sp=stash pop
	br=branch
	cmam=commit -a --amend --no-edit
	rbi= rebase -i
	drop=reset --hard HEAD~1
	
[user]
	name = srussell
	email = samuel.russell@galatea-associates.com
[credential]
	helper = manager
[merge]
	conflictstyle = diff3
